<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.rsherminasamarinda.herminahealtcenter">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
<!--    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />-->
<!--    <uses-permission android:name="android.permission.READ_PHONE_STATE" />-->
<!--    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />-->

    <application
        android:requestLegacyExternalStorage="true"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_hermina"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_hermina_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.HerminaHealtCenter"
        android:usesCleartextTraffic="true"
        tools:targetApi="m">
        <activity
            android:name=".PdfViewActivity"
            android:exported="true" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <activity
            android:name=".detail.RadiologiDetailActivity"
            android:exported="true" />
        <activity
            android:name=".detail.FarmasiDetailActivity"
            android:exported="true" />
        <activity
            android:name=".detail.LaboratoriumDetailActivity"
            android:exported="true" />
        <activity
            android:name=".FarmasiHeaderActivity"
            android:exported="true" />
        <activity
            android:name=".FisioHeaderActivity"
            android:exported="true" />
        <activity
            android:name=".KtkHeaderActivity"
            android:exported="true" />
        <activity android:name=".LaboratoriumHeaderActivity" />
        <activity android:name=".RadiologiHeaderActivity" />
        <activity
            android:name=".RiwayatActivity"
            android:theme="@style/Theme.HerminaHealtCenterRiwayat" />
        <activity
            android:name=".DashboardActivity"
            android:theme="@style/Theme.HerminaHealtCenterDashboard" />
        <activity android:name=".LoginActivity">

        </activity>
        <activity android:name=".MainActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>